{% extends 'base.html' %}


{% block content %}

{% load static %}


<section class="container-fluid">

    
    <div class="row">
        
        <div class="
        col-12
                col-lg-2 
                d-none
                d-lg-block
                p-5
                vh-100
                card-ctm
                ">
                <a href="{% url 'opinion_junkie_app:home' %}"><button class="btn btn-dark button-ctm m-3 border border-4" type="button">Home</button></a>
                <button class="btn btn-dark button-ctm m-3 border border-4" type="button">Ratings</button>
                
                <button class="btn btn-dark button-ctm m-3 border border-4" type="button">Reviews</button>
                
                {% csrf_token %}
                
                    <button id="fav-btn-{{movie.id}}" class="fav-btn btn btn-dark button-ctm m-3 border border-4" onclick="handleFavEvent(event)"> 
                
                        {% if request.user in movie.users.all %}
                        <i class="fav-btn-icon bi bi-bookmark-heart-fill"></i>
                        {% else %}
                        <i class="fav-btn-icon bi bi-bookmark-heart"></i>
                        {% endif %}
                        Favorite

                    </button>
                
                    <a href="{% url 'opinion_junkie_app:reviews' movie.id %}"><button class="btn btn-dark button-ctm m-3 border border-4" type="button">Add review  <i class="bi bi-chat-right-text"></i></button></a>
            
                </div>
                
            <div class="col-12 col-lg-10 p-5">

                <div class="row">

                    <div class="
                    col-12 
                    d-flex 
                            flex-column align-items-center
                            flex-lg-row justify-content-lg-center
                            d-block
                            d-md-none
                            "
                            >
                    
                        <a href="{% url 'opinion_junkie_app:home' %}"><button class="btn btn-dark button-ctm mb-3 p-3" type="button">Home</button></a>
                        

                        <button id="fav-btn-{{movie.id}}" class="fav-btn btn btn-dark button-ctm mb-3 p-2" onclick="handleFavEvent(event)"> 
                
                            {% if request.user in movie.users.all %}
                            <i class="fav-btn-icon bi bi-bookmark-heart-fill"></i>
                            {% else %}
                            <i class="fav-btn-icon bi bi-bookmark-heart"></i>
                            {% endif %}
                            Favorite
    
                        </button>
                    
                        <a href="{% url 'opinion_junkie_app:reviews' movie.id %}"><button class="btn btn-dark button-ctm mb-3" type="button">Leave a review  <i class="bi bi-chat-right-text"></i></button></a>

                    </div>
                    
                    <div class="col-12">
                        
                        <div class="row border border-4 mb-4 card-ctm rounded">

                            <div class="col-lg-12">
                                <div class="p-4 d-flex justify-content-center">
                                    <h1 class="display-5"> {{ movie.title }}</h1>
                                    
                                </div>
                            </div>

                        </div>
                        
                        <div class="row">
                            
                            <div class="col-12 col-lg-5">
                                <div class="p-2 mb-2 d-flex justify-content-center">
                                    <!-- <img src="https://picsum.photos/300/400" class="rounded"> -->

                                    <img src="{{ movie.poster_url }}" alt="{{movie.title}}">

                                </div>
                                <div class="row mb-4">
                                    <div class="card-ctm-1 d-flex justify-content-center">
                                        Rating
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="card-ctm col-12 col-lg-6 rounded">
                                <div class="p-4 d-flex">

                                    Release Date: {{movie.release_date}}</br> </br> </br>
                                    Genre: {{movie.genre}} </br> </br> </br>
                                    <!-- Main Characters: </br> </br> </br>  -->
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            
                            <div class="card-ctm col-12 col-lg-12 mt-5 rounded border border-4 mb-2">

                                <div class="p-4 d-flex">

                                    <h3 class="font-weight-bold ">Reviews:</h3>

                                </div>

                            </div>

                        </div>

                        <div class="row">

                            {% for review in movie.reviews.all %}

                            <div class="card-ctm col-12 col-lg-12 rounded p-3 m-3" >

                                {{review.post}}

                            </div>

                            {% endfor %}
                            
                        </div>


                        


                    </div>
                    

                </div>
                
            </div>
    
            
            
    </div>

</section>
<script src="{% static 'js/index.js' %}"></script>
     
{% endblock content %}